
<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <button type="button" class="btn btn-transparent p-0 float-right">
          <i class="icon-location-pin"></i>
        </button>
        <div class="text-value">{{ this.nombrejaime.likeNombre}}</div>
        <div>Nombre de Jaime</div>
      </div>
      
    </div>
    
</div>
<div class="col-sm-6 col-lg-5">
  <div style="display: block" style="width: 100%;">
    <canvas baseChart
            [datasets]="pieChartData"
            [labels]="pieChartLabels"
            [colors]="pieChartColors"
            [chartType]="pieChartType"></canvas>
  </div>

</div>

</div>

  <div class="chart-wrapper" style="width: 80%;">
    <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [colors]="pieChartColors"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>


<!-- <div class="chart-wrapper" >
  <canvas baseChart 
  [datasets]="pieChartData"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [colors]="barChartColors"
  [legend]="pieChartLegend"
  [chartType]="pieChartType">
</canvas>
</div> -->


