
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form #addAdminForm="ngForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" #nom="ngModel" [(ngModel)]="admin.nom" class="form-control" name="nom" placeholder="Your Nom" required >
                 
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" >@</span>
                  </div>
                  <input type="text" #nom="ngModel" [(ngModel)]="admin.email"  class="form-control" name="email" placeholder="Your Email" autocomplete="email"  [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :addAdminForm.submitted && !email.valid }"   required >
                  <div *ngIf="addAdminForm.submitted && email.errors?.pattern">
                    <label class="validation-message">Invalid email address.</label>
                  </div>        
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock" [class.red-border-bottom]="nom.invalid && nom.touched" ></i></span>
                  </div>
                  <input type="password" #nom="ngModel" [(ngModel)]="admin.password" class="form-control" name="password" placeholder="Your Password"  required minlength="8"
                  [ngClass]="{'invalid-textbox' :addAdminForm.submitted && !password.valid }" >  
                  <div *ngIf="addAdminForm.submitted && password.errors?.minlength">
                    <label class="validation-message">Minimum 8 characters.</label>
                  </div>
                </div>
                
                <button type="button" class="btn btn-block btn-success" (click)="addAdmin()" [disabled]="!addAdminForm.form.valid">Create Account</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>  

